5.1.txt
[{"id":"d732fd89.ae432","type":"tab","label":"coloured text","disabled":true,"info":""},{"id":"1060d19e.ba5d1e","type":"ui_text","z":"d732fd89.ae432","group":"3dfbbc9d.1ab174","order":0,"width":"6","height":"1","name":"Colored text","label":"<font color= {{msg.strongcolor}} > Display </font>","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-spread","x":570,"y":140,"wires":[]},{"id":"15ada881.d0e87f","type":"inject","z":"d732fd89.ae432","name":"","repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"Your payload","payloadType":"str","x":160,"y":100,"wires":[["d6518ef4.57e"]]},{"id":"d6518ef4.57e","type":"change","z":"d732fd89.ae432","name":"Set colors","rules":[{"t":"set","p":"color","pt":"msg","to":"lime","tot":"str"},{"t":"set","p":"strongcolor","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":200,"wires":[["1060d19e.ba5d1e"]]},{"id":"3dfbbc9d.1ab174","type":"ui_group","name":"S1","tab":"20694037.51f098","order":1,"disp":true,"width":"20","collapse":false},{"id":"20694037.51f098","type":"ui_tab","name":"Home","icon":"dashboard"}]