5.3.txt
[{"id":"a9c9090b.478498","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b49f314d.e60eb","type":"ui_template","z":"a9c9090b.478498","group":"d0b72a74.f9d968","name":"","order":13,"width":0,"height":0,"format":"<style>\n    \n\n.table\n{\n\n    width:500px;\n    background:lightblue;\nborder:1px solid black;\n//font-size:10px;\n}\n.main\n{\nheight:400px;\n\n}\n</style>\n<div class=\"main\">\n    <table class=\"table\">\n        <tr ng-repeat = \"payload in msg.payload\"><td ng-repeat =\"(key,value) in payload\">{{key}}: {{value}}</td></tr>\n\n    </table>\n    \n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":480,"y":260,"wires":[["4db0093b.a252f8"]]},{"id":"4db0093b.a252f8","type":"debug","z":"a9c9090b.478498","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":760,"y":260,"wires":[]},{"id":"89def998.97df18","type":"inject","z":"a9c9090b.478498","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":240,"wires":[["15b1e814.b5de"]]},{"id":"15b1e814.b5de","type":"function","z":"a9c9090b.478498","name":"","func":"var payload=[];\nvar obj={\"steve\":63,\"Bella\":56};\npayload.push(obj);\nvar obj={\"shanna\":30,\"saskia\":27};\npayload.push(obj);\nmsg.payload=payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":240,"wires":[["b49f314d.e60eb"]]},{"id":"d0b72a74.f9d968","type":"ui_group","name":"Default","tab":"e01b6f.a9d07c9","order":1,"disp":true,"width":"20","collapse":false},{"id":"e01b6f.a9d07c9","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]